Rename to secrets.yaml and change

# Ip Addresses
hs110-wm: use your own!
nvidiashield_ip: use your own!
sonos_ip: use your own!
huehub_ip: use your own!
echolivingroom_ip: use your own!
harmonyhublivingroom_ip: use your own!
virginlivingroom_ip: use your own!
xboxone_ip: use your own!
smartthings_ip: use your own!
pilivingroom_ip: use your own!
# Config
name: use your own!
timezone: use your own!
latitude: use your own!
longitude: use your own!
# HTTP
hasspassword: use your own!
hassport: use your own!
hassnetworkrange: use your own!
# IFTTT
ifttt_key: use your own!
# sensors
### lastfm
lastfm_api: use your own!
### nzbget
nzbget_host: use your own!
nzbget_port: use your own!
nzbget_user: use your own!
nzbget_pass: use your own!
### radarr
radarr_api: use your own!
radarr_host: use your own!
radarr_port: use your own!

### MQTT
MQTTbroker: use your own!
MQTTport: use your own!
MQTTprefix: use your own!
MQTTid: use your own!

### sonarr

sonarr_api: use your own!
sonarr_host: use your own!
sonarr_port: use your own!
### haveibennpwned
haveibeenpwned_personal1: use your own!
haveibeenpwned_personal2: use your own!
haveibeenpwned_personal3: use your own!
haveibeenpwned_business1: use your own!
haveibeenpwned_business2: use your own!
### openweathermap
openweathermap: use your own!
### pocketcasts
pocketcasts_user: use your own!
pocketcasts_pass: use your own!
### steam
steam_api: use your own!
steam_whatdaybob: use your own!
steam_laidbacks: use your own!
steam_jimbabble: use your own!
steam_acidash: use your own!
### Uber
uber_server_token: use your own!
### xbox
xbox_api: use your own!
xbox_whatdaybob: use your own!
xbox_jimbabble: use your own!
xbox_ashischarmed: use your own!
xbox_iamaweapon: use your own!
xbox_laidbacks: use your own!
# remotes
harmonyhub_name: use your own!
harmonyhub_ip: use your own!
# weblinks
### router
router_external: use your own!
router_internal: use your own!
##########
# notify #
##########
html5api: use your own!
html5sender: use your own!
# zones
zoneworklat: use your own!
zoneworklong: use your own!